<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password"
        #passwordInput="ngModel" required >
      <mat-error *ngIf="passwordInput.invalid">Enter a password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="confirmpassword" ngModel matInput placeholder="Confirm Password"
        #confirmPasswordInput="ngModel" required>
      <mat-error *ngIf="confirmPasswordInput.invalid">Confirm your password</mat-error>
      <mat-error
        *ngIf="confirmPasswordInput.pristine || confirmPasswordInput.errors?.MatchPassword">
        Passwords do not match
      </mat-error>

    </mat-form-field>


    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
